<style>

	.posts_container {
		width: 500px;
		height: 500px;
		border: solid black;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
	}
	.posts_input {
		width: 500px;
		height: 300px;
		border: solid black;
		margin: auto;
		margin-bottom: 40px;

	}
	.input_header{
		text-align: center:;
	}
	.name {
		margin-left: 400px;
	}
	.UserInfo {
		height: 90px;
		width: 300px;
		border: solid;
		margin: auto;
	}

</style>



<div class='listing_posts' ng-controller = 'PostCtrl'>
	  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shazam</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

   <div class="container theme-showcase" role="main">
	   <div class="jumbotron">
	     <h1>Explore Sports Highlights from Around the World</h1>
	     <p>Get the latest updates and trends on the most awesome sports highlights presented to you.</p>
	   </div>
	<div class = "posts_input">
			<h2 style='margin-left: 140px'>Hello {{username}}!</h2>
		<form>
			<h3 class="input_header">Add Post</h3>
			Add Title<input type="text" ng-model='newPost.title' class="form-control" placeholder="Title">
			Add link<input type="text" ng-model = 'newPost.link' class="form-control" placeholder="Text input">
			Add Description<textarea class="form-control" ng-model= 'newPost.description' rows="3"></textarea>
			<input type="submit" ng-click = 'addPost()'>
		</form>
	</div>
	<div class = "posts_container">
		<h3 id='listpoststitle'>Awesome Posts for Today</h3>
		<table class="table table-striped">
				<tr>
					<th>Post Title</th>
					<th>Username</th>
					<th>Date</th>
				</tr>
				<tr ng-repeat = 'post in posts'>
					<td><a href="#/single/{{post._id}}">{{post.title}}</a></td>
					<td>{{post._owner}} </td>
					<td>Jan 2 2015 </td>
				</tr>
			</table>
		</div>
	</div>
</div>